<% include partials/header %>

   
      <% include partials/topbar %>

   <div class="container">
      <div class="row">

         <% if(!authorized) { %>

            <% include partials/authorization_form %>

         <% } else { %>

            <h2>Hi, <%= user.firstname + ' ' + user.lastname %></h2>
            <p>Some statistics:</p>
            <div class="row panel text-center">
               <div class="large-4 columns">
                  <h5>Number of tests</h5>
                  <h3>3</h3>
               </div>
               <div class="large-4 columns">
                  <h5>The most popular test</h5>
                  <h3>What languageto learn?</h3>
               </div>
               <div class="large-4 columns">
                  <h5>Complited tests</h5>
                  <h3>33</h3>
               </div>
            </div>

            
         <% } %>

      </div>
   </div>

<% include partials/footer %>