<% include partials/header %>

   <% if(authorized) { %>
      <% include partials/topbar %>
   <% } %>

   <div class="container">
      <div class="row">

         <% if(authorized) { %>
            <h2>Pages</h2>
            <% if(messages.status) { %>
            <div data-alert class="alert-box <%= (messages.status == 'error') ? 'alert' : 'info' %>">
               <%= messages.info %>
               <a href="#" class="close">&times;</a>
            </div>
            <% } %>
            <% if(!pages) { %>
            <div class="panel">
               There are no pages yet...
            </div>
            <% } else { %>

            <table>
               <thead>
                  <tr>
                     <th>Page title</th>
                     <th>Page description</th>
                     <th>Page type</th>
                     <th>Page url</th>
                     <th>Options</th>
                  </tr>
               </thead>
               <tbody>
                  <% pages.forEach(function(page, index, array){ %>
                  <tr>
                     <td><%= page.title %></td>
                     <td><%= page.description %></td>
                     <td><%= page.type %></td>
                     <td><a target="_blank" href="<%= (page.type == 1) ? '/tests/' : '' %><%= (page.isHomePage == true) ? '/' : page.url;  %>"><%= page.url %></a></td>
                     <td>
                        <a href="<%= absolutePageUrl %>/edit?id=<%= page._id %>">Edit</a>
                        <a class="js-delete" href="<%= absolutePageUrl %>/delete?id=<%= page._id %>" data-reveal-id="page-delete-modal">Delete</a>
                     </td>
                  </tr>
                  <% }); %>
               </tbody>
            </table>
            <% } %>

         <% } %>
      
      </div>
   </div>

<% include partials/footer %>