<% include partials/header %>

   <% if(authorized) { %>
      <% include partials/topbar %>
   <% } %>

   <div class="container">
      <div class="row">

         <% if(authorized) { %>
            <h2>Edit page "<%= page.title %>"</h2>
            <% if(messages.status) { %>
            <div data-alert class="alert-box <%= (messages.status == 'error') ? 'alert' : 'info' %>">
               <%= messages.info %>
               <a href="#" class="close">&times;</a>
            </div>
            <% } %>
            <form id="editPageForm" action="<%= relativePageUrl %>" method="post">
               
               <label for="title">
                  Title
                  <input type="text" id="title" name="title" value="<%= page.title %>">
               </label>

               <label for="description">
                  Description
                  <textarea name="description" id="description" cols="30" rows="2"><%= page.description %></textarea>
               </label>

               <label for="keywords">
                  Keywords
                  <textarea name="keywords" id="keywords" cols="30" rows="2"><%= page.keywords %></textarea>
               </label>

               <label for="link">
                  Relative link to test
                  <input type="text" id="link" name="link" value="<%= page.url %>">
               </label>

               <% if (tests) { %>
               <label for="testId">
                  Select test for this page
                  <select name="testId" id="testId">
                     <% tests.forEach(function(test, index, array){ %>

                        <% if(page.testId) { %>

                           <option value="<%= test._id %>" <%= (test._id.toString() === page.testId.toString()) ? 'selected' : ''  %> ><%= test.title %></option>

                           <% } else { %>

                           <option value="<%= test._id %>"><%= test.title %></option>

                        <% } %>
                     <% }); %>
                  </select>
               </label>
               <% } %>

               <label for="type">
                  Select type of the page
                  <select name="type" id="type">
                     <option value="0" <%= (page.type == 0) ? 'selected' : '' %> >Regular page</option>
                     <option value="1" <%= (page.type == 1) ? 'selected' : '' %> >Page for test</option>
                  </select>
               </label>

               <label for="ishomepage">
                  <input type="checkbox" name="ishomepage" id="ishomepage" <%= (page.isHomePage == true) ? 'checked' : '' %> > Home page
               </label>

               <input type="submit" value="Save" class="button small radius large-centered">
            </form>
         <% } %>

      </div>
   </div>

<% include partials/footer %>