<% include partials/header %>

   <% if(authorized) { %>
      <% include partials/topbar %>
   <% } %>

   <div class="container">
      <div class="row">

         <% if(authorized) { %>
            <h2>Create a new page</h2>
            <% if(messages.status) { %>
            <div data-alert class="alert-box <%= (messages.status == 'error') ? 'alert' : 'info' %>">
               <%= messages.info %>
               <a href="#" class="close">&times;</a>
            </div>
            <% } %>
            <form id="createPageForm" action="<%= relativePageUrl %>" method="post">
               
               <label for="title">
                  Title
                  <input type="text" id="title" name="title">
               </label>

               <label for="description">
                  Description
                  <textarea name="description" id="description" cols="30" rows="2"></textarea>
               </label>

               <label for="keywords">
                  Keywords
                  <textarea name="keywords" id="keywords" cols="30" rows="2"></textarea>
               </label>

               <label for="link">
                  Relative link to test
                  <input type="text" id="link" name="link" value="">
               </label>
               <% if (tests) { %>
               <label for="testId">
                  Select test for this page
                  <select name="testId" id="testId">
                     <% tests.forEach(function(tests, index, array){ %>
                     <option value="<%= tests._id %>"><%= tests.title %></option>
                     <% }); %>
                  </select>
               </label>
               <% } %>
               <label for="type">
                  Select type of the page
                  <select name="type" id="type">
                     <option value="0">Regular page</option>
                     <option value="1" selected>Page for test</option>
                  </select>
               </label>

               <label for="ishomepage">
                  <input type="checkbox" name="ishomepage" id="ishomepage"> Home page
               </label>

               <input type="submit" value="Save" class="button small radius large-centered">
            </form>
         <% } %>

      </div>
   </div>

<% include partials/footer %>