<% include partials/header %>

   <% if(authorized) { %>
      <% include partials/topbar %>
   <% } %>

   <div class="container">
      <div class="row">

         <% if(authorized) { %>
            <h2>Edit test "<%= test.title %>"</h2>
            <% if(messages.status) { %>
            <div data-alert class="alert-box <%= (messages.status == 'error') ? 'alert' : 'info' %>">
               <%= messages.info %>
               <a href="#" class="close">&times;</a>
            </div>
            <% } %>
            <form id="createTestForm" action="<%= relativePageUrl %>" method="post" enctype="multipart/form-data">
               
               <label for="title">
                  Title
                  <input type="text" id="title" name="title" required value="<%= test.title %>">
               </label>

               <label for="description">
                  Description
                  <textarea name="description" id="description" required><%= test.description %></textarea>
               </label>

               <label for="image">
                  Image
                  <input class="js-image" type="file" name="image" id="image" accept="image/*">
                  <a class="th image-preview" href="#">
                     <img src="/<%= test.image.replace(/\\/g,'/') %>">
                  </a>
               </label>
               
               <label for="color">
                  Background color
                  <input type="color" name="color" id="color" required value="<%= test.color %>">
               </label>
               
               <h3>Questions</h3>

               <div class="test-content">
                     
                     <div id="q_1" class="panel js-question">
                        <h4>Question</h4>
                        <label for="title_q_1">
                           Title
                           <input type="text" id="title_q_1" name="title_q_1" value="<%= test.question.title || '' %>">
                        </label>
                        
                        <label for="type_q_1">
                           Select type of the question
                           <select name="type_q_1" id="type_q_1">
                              <option value="0" <%= (test.question.type.toString() == '0') ? 'selected' : '' %> >Regular question</option>
                              <option value="1" <%= (test.question.type.toString() == '1') ? 'selected' : '' %> >Final</option>
                           </select>
                        </label>

                        <label for="image_q_1">
                           Image
                           <input class="js-image" type="file" name="image_q_1" id="image_q_1" accept="image/*">
                           <a class="th image-preview <%= !(test.question.image) ? 'hidden' : '' %>" href="#">
                              <img src="<%= (test.question.image) ? test.question.image : '' %>">
                           </a>
                        </label>

                        <a href="#" class="button small radius js-add-answer">Add Answer</a>
                        <% 
                           var parentId = 'q_1';

                           function createLayout(obj, parentId){

                              var count = 1;
                              var currentId;

                              if(parentId[parentId.length - 3] == 'q'){

                                 for(var i = 0 ; i <= obj.length - 1; i++){

                                    currentId = parentId + '_a_' + count;

                                    %>
                                       <div class="panel js-answer" id="<%= currentId %>">
                                          <h4>Answer <a class="js-delete-in-test" href="#"><i class="fi-x"></i></a></h4>
                                          <label for="title_<%= currentId %>">
                                             Title
                                             <input type="text" id="title_<%= currentId %>" name="title_<%= currentId %>" required value="<%= obj[i].title %>">
                                          </label>

                                          <a href="#" class="button small radius js-add-question">Add Question</a>
                                       
                                    <% 
                                    count++;

                                    if(obj[i].next_question){
                                       createLayout( obj[i].next_question, currentId);
                                    } %>
                                       </div>
                                    <%
                                 }

                              } else {

                                 currentId = parentId + '_q_' + count;

                                 %>
                                    <div class="panel js-question" id="<%= currentId %>">
                                       <h4>Question  <a class="js-delete-in-test" href="#"><i class="fi-x"></i></a></h4>
                                       <label for="title_<%= currentId %>">
                                          Title
                                          <input type="text" id="title_<%= currentId %>" name="title_<%= currentId %>" required value="<%= obj.title %>">
                                       </label>

                                       <label for="share_<%= currentId %>">
                                          Share Text
                                          <input type="text" id="share_<%= currentId %>" name="share_<%= currentId %>" value="<%= (obj.share) ? obj.share : '' %>">
                                       </label>

                                       <label for="description_<%= currentId %>">
                                          Description
                                          <textarea class="tinymce" name="description_<%= currentId %>" id="description_<%= currentId %>"><%= (obj.description) ? obj.description : '' %></textarea>
                                       </label>
                                       
                                       <label for="type_<%= currentId %>">
                                          Select type of the question
                                          <select name="type_<%= currentId %>" id="type_<%= currentId %>" required>
                                             <option value="0" <%= (obj.type.toString() == '0') ? 'selected' : '' %> >Regular question</option>
                                             <option value="1" <%= (obj.type.toString() == '1') ? 'selected' : '' %> >Final</option>
                                          </select>
                                       </label>

                                       <label for="image_<%= currentId %>">
                                          Image
                                          <input class="js-image" type="file" name="image_<%= currentId %>" id="image_<%= currentId %>" accept="image/*">
                                          <a class="th image-preview <%= !(obj.image) ? 'hidden' : '' %>" href="#">
                                             <img src="/<%= (obj.image) ? obj.image : '' %>">
                                          </a>
                                          <% if(obj.image) { %>
                                          <input name="imageh_<%= currentId %>" id="imageh_<%= currentId %>" type="hidden" value="<%= obj.image %>">
                                          <% } %>
                                       </label>

                                       <a href="#" class="button small radius js-add-answer">Add Answer</a>
                                 <%

                                 if(obj.answers.length){
                                    createLayout( obj.answers, currentId);
                                 } %>
                                    </div>
                                 <%
                              }
                           }

                           createLayout( test.question.answers, parentId);
                        %>
                     </div>
               </div>
               

               <input type="submit" value="Save" class="button small radius large-centered">
            </form>
         <% } %>

      </div>
   </div>

<!-- Form for answers -->
<div class="panel hidden js-answer">
   <h4>Answer <a class="js-delete-in-test" href="#"><i class="fi-x"></i></a></h4>
   <label for="title_">
      Title
      <input type="text" id="title_" name="title_" required>
   </label>

   <a href="#" class="button small radius js-add-question">Add Question</a>
</div>
<!--  -->

<div class="panel hidden js-question">
   <h4>Question <a class="js-delete-in-test" href="#"><i class="fi-x"></i></a></h4>
   <label for="title_">
      Title
      <input type="text" id="title_" name="title_" required>
   </label>
   
   <label for="share_">
      Share Text
      <input type="text" id="share_" name="share_">
   </label>

   <label for="description_">
      Description
      <textarea class="tinymce" name="description_" id="description_"></textarea>
   </label>  
    
   <label for="type_">
      Select type of the question
      <select name="type_" id="type_" required>
         <option value="0" selected>Regular question</option>
         <option value="1">Final</option>
      </select>
   </label>

   <label for="image_">
      Image
      <input class="js-image" type="file" name="image_" id="image_" accept="image/*">
      <a class="th image-preview hidden" href="#">
         <img src="">
      </a>
   </label>

   <a href="#" class="button small radius js-add-answer">Add Answer</a>
</div>

<% include partials/footer %>