<% include partials/header %>

   <% if(authorized) { %>
      <% include partials/topbar %>
   <% } %>

   <div class="container">
      <div class="row">

         <% if(authorized) { %>
            <h2>Tests</h2>
            <% if(messages.status) { %>
            <div data-alert class="alert-box <%= (messages.status == 'error') ? 'alert' : 'info' %>">
               <%= messages.info %>
               <a href="#" class="close">&times;</a>
            </div>
            <% } %>
            <% if(!tests) { %>
            <div class="panel">
               There are no questions yet...
            </div>
            <% } else { %>

            <table>
               <thead>
                  <tr>
                     <th>Test</th>
                     <th>Options</th>
                  </tr>
               </thead>
               <tbody>
                  <% tests.forEach(function(test, index, array){ %>
                  <tr>
                     <td><%= test.title %></td>
                     <td>
                        <a href="<%= absolutePageUrl %>/edit?id=<%= test._id %>">Edit</a>
                        <a class="js-delete" href="<%= absolutePageUrl %>/delete?id=<%= test._id %>" data-reveal-id="page-delete-modal">Delete</a>
                     </td>
                  </tr>
                  <% }); %>
               </tbody>
            </table>
            <% } %>

         <% } %>
      
      </div>
   </div>

<% include partials/footer %>