<% include partials/header %>

   <% if(authorized) { %>
      <% include partials/topbar %>
   <% } %>

   <div class="container">
      <div class="row">

         <% if(authorized) { %>
            <h2>Create a new test</h2>
            <% if(messages.status) { %>
            <div data-alert class="alert-box <%= (messages.status == 'error') ? 'alert' : 'info' %>">
               <%= messages.info %>
               <a href="#" class="close">&times;</a>
            </div>
            <% } %>
            <form id="createTestForm" action="<%= relativePageUrl %>" method="post" enctype="multipart/form-data">
               
               <label for="title">
                  Title
                  <input type="text" id="title" name="title" required>
               </label>

               <label for="description">
                  Description
                  <textarea name="description" id="description" required></textarea>
               </label>

               <label for="image">
                  Image
                  <input class="js-image" type="file" name="image" id="image" accept="image/*" required>
                  <a class="th image-preview hidden" href="#">
                     <img src="">
                  </a>
               </label>
               

               <label for="color">
                  Background color
                  <input type="color" name="color" id="color" required>
               </label>
               
               <h3>Questions</h3>

               <div class="test-content">
                     
                     <div id="q_1" class="panel js-question">
                        <h4>Question</h4>
                        <label for="title_q_1">
                           Title
                           <input type="text" id="title_q_1" name="title_q_1">
                        </label>
                        
                        <label for="type_q_1">
                           Select type of the question
                           <select name="type_q_1" id="type_q_1">
                              <option value="0" selected>Regular question</option>
                              <option value="1">Final</option>
                           </select>
                        </label>

                        <label for="image_q_1">
                           Image
                           <input class="js-image" type="file" name="image_q_1" id="image_q_1" accept="image/*">
                           <a class="th image-preview hidden" href="#">
                              <img src="">
                           </a>
                        </label>

                        <a href="#" class="button small radius js-add-answer">Add Answer</a>
                     </div>
               </div>
               

               <input type="submit" value="Save" class="button small radius large-centered">
            </form>
         <% } %>

      </div>
   </div>

<!-- Form for answers -->
<div class="panel hidden js-answer">
   <h4>Answer <a class="js-delete-in-test" href="#"><i class="fi-x"></i></a></h4>
   <label for="title_">
      Title
      <input type="text" id="title_" name="title_" required>
   </label>

   <a href="#" class="button small radius js-add-question">Add Question</a>
</div>
<!--  -->

<div class="panel hidden js-question">
   <h4>Question <a class="js-delete-in-test" href="#"><i class="fi-x"></i></a></h4>
   <label for="title_">
      Title
      <input type="text" id="title_" name="title_" required>
   </label>

   <label for="share_">
      Share Text
      <input type="text" id="share_" name="share_">
   </label>

   <label for="description_">
      Description
      <textarea class="tinymce" name="description_" id="description_"></textarea>
   </label>

   <label for="type_">
      Select type of the question
      <select name="type_" id="type_" required>
         <option value="0" selected>Regular question</option>
         <option value="1">Final</option>
      </select>
   </label>

   <label for="image_">
      Image
      <input class="js-image" type="file" name="image_" id="image_" accept="image/*">
      <a class="th image-preview hidden" href="#">
         <img src="">
      </a>
   </label>

   <a href="#" class="button small radius js-add-answer">Add Answer</a>
</div>

<% include partials/footer %>