<% include partials/header %>

   <% if(authorized) { %>
      <% include partials/topbar %>
   <% } %>

   <div class="container">
      <div class="row">

         <% if(authorized) { %>
            <h2>Account settings</h2>
            <% if(messages.status) { %>
            <div data-alert class="alert-box <%= (messages.status == 'error') ? 'alert' : 'info' %>">
               <%= messages.info %>
               <a href="#" class="close">&times;</a>
            </div>
            <% } %>
            <form action="<%= relativePageUrl %>" method="post">
               <label for="firstname">
                  Firstname
                  <input type="text" id="firstname" name="firstname" value="<%= user.firstname %>">
               </label>
               <label for="lastname">
                  Lastname
                  <input type="text" id="lastname" name="lastname" value="<%= user.lastname %>">
               </label>
               <label for="username">
                  Username
                  <input type="text" id="username" name="username" value="<%= user.username %>">
               </label>
               <label for="email">
                  Email
                  <input type="text" id="email" name="email" value="<%= user.email %>">
               </label>
               <label for="oldpassword">
                  Old password
                  <input type="password" id="oldpassword" name="oldpassword" required>
               </label>
               <label for="newpassword">
                  New password
                  <input type="password" id="newpassword" name="newpassword">
               </label>
               <h3>Site settings</h3>
               <label for="title">
                  Site title
                  <input type="text" id="title" name="title" value="<%= (site) ? site.title : '' %>">
               </label>
               <label for="title">
                  Site description
                  <input type="text" id="description" name="description" value="<%= (site) ? site.description : '' %>">
               </label>
               <input type="submit" value="Save" class="button small radius large-centered">
            </form>
         <% } %>

      </div>
   </div>

<% include partials/footer %>