<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title><%= page.title %></title>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
   <meta name="description" content="<%= page.description %>">
   <meta name="keywords" content="<%= page.keywords %>">
   <meta name="author" content="findtheway.co">

   <!-- Opengraph tags -->
   <meta property="og:title" content="<%= page.title %>">
   <meta property="og:url" content="<%= url %>">
   <meta property="og:description" content="<%= page.description %>">

   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
   
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body>