   <div class="preloader preloader--visible">
      <div class="preloader__container">
        <%

        function getQuote(){

          var phrases = [
            "&#10077; If you're going through hell keep going. &#10078;",
            "&#10077; Opportunities don't happen, you create them. &#10078;",
            "&#10077; The starting point of all achievement is desire. &#10078"
          ];

          return phrases[Math.floor(Math.random() * phrases.length)];
        }

        %>
         <p class="preloader__text"><%- getQuote(); %></p>
         <div class="preloader__anim la-ball-pulse la-dark la-2x">
             <div></div>
             <div></div>
             <div></div>
         </div>
      </div>
   </div>