.preloader{
   background: $preloader-bg;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   position: fixed;
   display: none;

   @include adjust-font-size-to(24px);

   &--fade-out{
      @include animation(fade-out $preloader-fade-duration ease);
   }

   &--visible{
      display: block;
   }

   &__container{
      position: absolute;
      top: 50%;
      text-align: center;
      left: 0;
      right: 0;
      margin: 0 auto;

      @include transform(translateY(-50%));
      @include animation(fade-in $preloader-fade-duration ease);
   }

   &__text{
      font-family: $medium;
      text-transform: none;
   }

   &__anim{
      margin: 0 auto;
   }
}

@include keyframes(preloader){
   0%{
      @include transform(translateY(0px));
   }
   33.333%{
      @include transform(translateY(20px));
   }
   66.666%{
      @include transform(translateY(-20px));
   }
   100%{
      @include transform(translateY(0px));
   }
}

@include keyframes(fade-in){
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}

@include keyframes(fade-out){
   0%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}