.test{
   text-align: center;
   position: relative;
   overflow: hidden;

   &:hover{

      .test__description{
         bottom: 0%;
      }
      
      .test__title{
         opacity: 0;
      }
   }

   h2{
      color: #fff;
      padding: 0 25px;

      @include adjust-font-size-to(30px);
   }
   
   &__title{
      @include transition(all ease 400ms);
   }

   &__img{
      max-width: 250px;
      max-height: 250px;
      display: block;
      margin: 0 auto;
   }
   
   &__container{
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;

      @include transform(translateY(-50%));
   }

   &__description{
      background: rgba(#000, 0.5);
      position: absolute;
      height: 100%;
      left: 0;
      right: 0;
      bottom: -100%;

      @include transition(all ease 400ms);

      a{
         display: block;
         width: 100%;
         height: 100%;
      }

      h2{
         position: absolute;
         top: 50%;
         left: 0;
         right: 0;
         margin: 0 auto;

         @include transform(translateY(101px));     
      }
   }
}

.question{
   text-align: center;
   margin: 0 auto;
   // max-width: 990px;
   padding: 0 20px;

   @include margin-leader(5);
   @include transition(all 300ms ease);
   @include animation(slide-bottom $preloader-fade-duration ease);
   @include transform(translateY(0));

   &--final{
      @include margin-leader(3);
   }

   &__title{
      text-transform: none;

      @include adjust-font-size-to(36px);
      @include margin-trailer();
   }

   &__tooltip{
      font-family: $medium;
      color: #a4a5aa;
      text-transform: none;

      @include adjust-font-size-to(18px);
      @include margin-trailer(3);
   }

   &__description{
      @include adjust-font-size-to(24px);
      margin: 0 auto;
      max-width: 990px;
      padding: 0 20px;
      text-align: justify;

      p{
        @include margin-trailer();

        &:last-child{
          margin-bottom: 0;
        }
      }
   }

   &__image{
      @include margin-trailer();
   }

   &__hidden{
      display: none;
   }

   &__slide-top{
      @include animation(slide-top $preloader-fade-duration ease);
   }

   &__slide-bottom{
      @include animation(slide-bottom $preloader-fade-duration ease);
   }

   &__answer{
      display: inline-block;
      color: #252527;
      text-decoration: none;
      margin: 0 50px;
      position: relative;

      @include adjust-font-size-to(24px);

      &:before{
         content: '';
         display: block;
         position: absolute;
         bottom: -10px;
         width: 100%;
         height: 2px;
         background: transparent;
         left: 0;
         right: 0;

         @include transition(all 300ms ease);
      }

      &:hover:before{
         background: #252527;
         bottom: 5px;
      }
   }
}

.share{
   text-align: center;

   @include margin-trailer(2);

   &__title{
      font-family: $medium;
      text-transform: none;

      @include adjust-font-size-to(24px);
      @include padding-leader(2);
      @include padding-trailer(2);
   }

   &__btn{
      display: inline-block;
      width: 35px;
      height: 35px;
      margin: 0 15px;
      text-decoration: none;
      color: #fff;

      @include adjust-font-size-to(18px);
      @include transition(all 300ms ease);
      @include border-radius(3px);

      &--vk{
         background: #3864a3;
      }

      &--twitter{
         background: #41abe1;
      }

      &--facebook{
         background: #3864a3;
      }

      i{
         line-height: 35px;
      }

   }
}

@include keyframes(slide-top){
   0%{
      opacity: 1;
      @include transform(translateY(0));
   }
   100%{
      opacity: 0;
      @include transform(translateY(-100px));
   }
}

@include keyframes(slide-bottom){
   0%{
      opacity: 0;
      @include transform(translateY(100px));
   }
   100%{
      opacity: 1;
      @include transform(translateY(0));
   }
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-pulse,
.la-ball-pulse > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-pulse {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-pulse.la-dark {
    color: #333;
}
.la-ball-pulse > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-pulse {
    width: 54px;
    height: 18px;
}
.la-ball-pulse > div:nth-child(1) {
    -webkit-animation-delay: -200ms;
       -moz-animation-delay: -200ms;
         -o-animation-delay: -200ms;
            animation-delay: -200ms;
}
.la-ball-pulse > div:nth-child(2) {
    -webkit-animation-delay: -100ms;
       -moz-animation-delay: -100ms;
         -o-animation-delay: -100ms;
            animation-delay: -100ms;
}
.la-ball-pulse > div:nth-child(3) {
    -webkit-animation-delay: 0ms;
       -moz-animation-delay: 0ms;
         -o-animation-delay: 0ms;
            animation-delay: 0ms;
}
.la-ball-pulse > div {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    -webkit-animation: ball-pulse 1s ease infinite;
       -moz-animation: ball-pulse 1s ease infinite;
         -o-animation: ball-pulse 1s ease infinite;
            animation: ball-pulse 1s ease infinite;
}
.la-ball-pulse.la-sm {
    width: 26px;
    height: 8px;
}
.la-ball-pulse.la-sm > div {
    width: 4px;
    height: 4px;
    margin: 2px;
}
.la-ball-pulse.la-2x {
    width: 108px;
    height: 36px;
}
.la-ball-pulse.la-2x > div {
    width: 20px;
    height: 20px;
    margin: 8px;
}
.la-ball-pulse.la-3x {
    width: 162px;
    height: 54px;
}
.la-ball-pulse.la-3x > div {
    width: 30px;
    height: 30px;
    margin: 12px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    30% {
        opacity: .1;
        -webkit-transform: scale(.01);
                transform: scale(.01);
    }
}
@-moz-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -moz-transform: scale(1);
             transform: scale(1);
    }
    30% {
        opacity: .1;
        -moz-transform: scale(.01);
             transform: scale(.01);
    }
}
@-o-keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -o-transform: scale(1);
           transform: scale(1);
    }
    30% {
        opacity: .1;
        -o-transform: scale(.01);
           transform: scale(.01);
    }
}
@keyframes ball-pulse {
    0%,
    60%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
    30% {
        opacity: .1;
        -webkit-transform: scale(.01);
           -moz-transform: scale(.01);
             -o-transform: scale(.01);
                transform: scale(.01);
    }
}