@mixin cell-generator{
  %common-cell-style{
    float: left;
    //padding-left: $grid__gutter;
    //padding-right: $grid__gutter;
  }

  @for $i from 1 through $grid__cell-count{
    .cell-#{$i} {
      width: percentage($i / $grid__cell-count);
      @extend %common-cell-style;
    }
  }
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin selection($bg, $color) {
  ::selection {
    background: $bg;
    color: $color;
  }

  ::-moz-selection {
    background: $bg;
    color: $color;
  }
}