<% include partials/header %>

   <header class="site-header">
      <h1 class="site-header__logo"><a href="/"><%= (site) ? site.title : '' %></a></h1>
      <p class="site-header__text"><%= (site) ? site.description : '' %></p>
   </header>
   <main class="content--error">
      <h3>Oups</h3>
      <h1><%= status %></h1>
      <h2><%= message %></h2>
      <% if(stack !== '') { %>
      <pre><%= stack %></pre>
      <br>
      <% } %>
      <a href="/">Go Home</a>
   </main>

<% include partials/footer %>