<% include partials/header %>

   <header class="site-header">
      <h1 class="site-header__logo"><a href="/"><%= (site) ? site.title : '' %></a></h1>
      <p class="site-header__text"><%= (site) ? site.description : '' %></p>
   </header>
   <main class="content home">
      <% tests.forEach(function(test, index, array){ 
            var testUrl;
            pages.forEach(function(paget, index, array){
               if(paget.testId && (paget.testId.toString() === test._id.toString())){
                  testUrl = paget.url;
                  return;
               }
            }); %>

      <div class="test" style="background: <%= test.color %>;">
         <div class="test__container">
            <img class="test__img" src="<%= test.image %>" alt="">
            <h2 class="test__title"><%= test.title %></h2>
         </div>
         <div class="test__description">
            <h2><%= test.description %></h2>
            <a href="tests/<%= testUrl %>"></a>
         </div>
         
      </div>
      <% }); %>
   </main>

<% include partials/preloader %>
   
<% include partials/footer %>