<% include partials/header %>

   <header class="site-header">
      <h1 class="site-header__logo"><a href="/"><%= (site) ? site.title : '' %></a></h1>
      <p class="site-header__text"><%= (site) ? site.description : '' %></p>
   </header>
   <main class="content">
      <%
      var h = homepage;
      var first = true;
      function layout(obj, parentId){
         var questions = [];
         if(obj.type == 0) {
         %>

      <div id="<%= parentId %>" class="question<%= (!first) ? ' question__hidden' : '' %>">
         <h2 class="question__title"><%= obj.title %></h2>
         <h5 class="question__tooltip">Answer the question below</h5>

         <% 
            first = false;
            obj.answers.forEach(function(answer, index, array){
               var id = parentId + 'a' + ++index  + 'q';
            
         %>

         <a class="question__answer" href="#<%= id %>"><%= answer.title %></a>
      
         <% 
               if(answer.next_question){

                  questions.push( 
                  {
                     question: answer.next_question,
                     index: index
                  });

               }
            });

          %>
      
      </div>
         <%

         questions.forEach(function(q, i ,a){
            layout(q.question, parentId + 'a' + q.index + 'q');
         });
         } else {
                     %>

         <div id="<%= parentId %>" class="question<%= (!first) ? ' question__hidden' : '' %><%= (obj.type == 1) ? ' question--final' : '' %>">
            <h2 class="question__title"><%= obj.title %></h2>
            <img class="question__image" src="/<%= obj.image %>" alt="">

            <div class="question__description">
               <%- obj.description %>
            </div>

            <div class="share">
               <h3 class="share__title">Share your choice with friends</h3>
               <a class="share__btn share__btn--vk" href="http://vk.com/share.php?url=http://findtheway.co&title=<%= h.title + ' - ' + h.description %>&description=<%= obj.share %>&image=http://findtheway.co/<%= obj.image %>" target="_blank"><i class="fa fa-vk"></i></a>
               <a class="share__btn share__btn--twitter" href="http://twitter.com/share?url=http://findtheway.co&text=<%= obj.share %>" target="_blank"><i class="fa fa-twitter"></i></a>
               <a class="share__btn share__btn--facebook" href="http://www.facebook.com/sharer.php?u=http://findtheway.co" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
         </div>
         <%
         }
      }

      layout(test.question, 'q');

      %>
   </main>

<% include partials/preloader %>
   
<% include partials/footer %>