/*
* Layout dimensions
*/
/*
* Fonts
*/
/*
* Typography
*/
/*
* Colors
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a, button, input, textarea, select {
  outline: none;
}

body {
  overflow-x: hidden;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3,
h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Raleway-Bold", sans-serif;
}

h1 {
  font-size: 57px;
  font-size: 3.157rem;
  line-height: 72px;
  line-height: 4rem;
}

h2 {
  font-size: 43px;
  font-size: 2.369rem;
  line-height: 48px;
  line-height: 2.66667rem;
}

h3 {
  font-size: 32px;
  font-size: 1.777rem;
  line-height: 48px;
  line-height: 2.66667rem;
}

h4 {
  font-size: 24px;
  font-size: 1.333rem;
  line-height: 48px;
  line-height: 2.66667rem;
}

h5 {
  font-size: 18px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.33333rem;
}

h6 {
  font-size: 14px;
  font-size: 0.75rem;
  line-height: 24px;
  line-height: 1.33333rem;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  color: #282829;
  font-family: "Raleway-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 112.5%;
  line-height: 1.33333em;
}

::selection {
  background: #222222;
  color: #fff;
}

::-moz-selection {
  background: #222222;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border: 0px solid #ffffff;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}

::-webkit-scrollbar-thumb:active {
  background: #aeaeae;
}

::-webkit-scrollbar-track {
  background: #ededed;
  border: none;
  border-radius: 25px;
}

::-webkit-scrollbar-track:hover {
  background: #ededed;
}

::-webkit-scrollbar-track:active {
  background: #ededed;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.container {
  max-width: 1308px;
  padding: 0 32px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

.site-header {
  text-align: center;
  padding-top: 48px;
  padding-top: 2.66667rem;
  padding-bottom: 48px;
  padding-bottom: 2.66667rem;
}
.site-header a {
  text-decoration: none;
  color: #282829;
}
.site-header__logo {
  text-align: center;
  font-size: 43px;
  font-size: 2.4rem;
  line-height: 48px;
  line-height: 2.66667rem;
}
.site-header__logo a {
  text-decoration: none;
  color: #282829;
}
.site-header__text {
  color: #a4a5ab;
  margin-top: 24px;
  margin-top: 1.33333rem;
}

.content {
  position: relative;
}
.content--error {
  padding-top: 50px;
  text-align: center;
}
.content--error pre {
  text-align: left;
  font-family: monospace;
  display: inline-block;
  font-size: 16px;
  font-size: 0.88889rem;
  line-height: 24px;
  line-height: 1.33333rem;
}
.content--error h1 {
  font-size: 115px;
  font-size: 6.38889rem;
  line-height: 120px;
  line-height: 6.66667rem;
  margin-bottom: 24px;
  margin-bottom: 1.33333rem;
}
.content--error h2 {
  font-size: 40px;
  font-size: 2.22222rem;
  line-height: 48px;
  line-height: 2.66667rem;
  margin-bottom: 24px;
  margin-bottom: 1.33333rem;
}
.content--error a {
  color: #00f;
  text-decoration: none;
}
.content--error a:hover {
  text-decoration: underline;
}

.test {
  float: left;
  height: 100%;
  width: 33.33333%;
}
.test__url {
  height: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.test {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.test:hover .test__description {
  bottom: 0%;
}
.test:hover .test__title {
  opacity: 0;
}
.test h2 {
  color: #fff;
  padding: 0 25px;
  font-size: 30px;
  font-size: 1.66667rem;
  line-height: 48px;
  line-height: 2.66667rem;
}
.test__title {
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.test__img {
  max-width: 250px;
  max-height: 250px;
  display: block;
  margin: 0 auto;
}
.test__container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.test__description {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: -100%;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.test__description a {
  display: block;
  width: 100%;
  height: 100%;
}
.test__description h2 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-transform: translateY(101px);
  -ms-transform: translateY(101px);
  -webkit-transform: translateY(101px);
  transform: translateY(101px);
}

.question {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 120px;
  margin-top: 6.66667rem;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-animation: slide-bottom 500ms ease;
  -webkit-animation: slide-bottom 500ms ease;
  animation: slide-bottom 500ms ease;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.question--final {
  margin-top: 72px;
  margin-top: 4rem;
}
.question__title {
  text-transform: none;
  font-size: 36px;
  font-size: 2rem;
  line-height: 48px;
  line-height: 2.66667rem;
  margin-bottom: 24px;
  margin-bottom: 1.33333rem;
}
.question__tooltip {
  font-family: "Raleway-Medium", sans-serif;
  color: #a4a5aa;
  text-transform: none;
  font-size: 18px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.33333rem;
  margin-bottom: 72px;
  margin-bottom: 4rem;
}
.question__description {
  font-size: 24px;
  font-size: 1.33333rem;
  line-height: 48px;
  line-height: 2.66667rem;
  margin: 0 auto;
  max-width: 990px;
  padding: 0 20px;
  text-align: justify;
}
.question__description p {
  margin-bottom: 24px;
  margin-bottom: 1.33333rem;
}
.question__description p:last-child {
  margin-bottom: 0;
}
.question__image {
  margin-bottom: 24px;
  margin-bottom: 1.33333rem;
}
.question__hidden {
  display: none;
}
.question__slide-top {
  -moz-animation: slide-top 500ms ease;
  -webkit-animation: slide-top 500ms ease;
  animation: slide-top 500ms ease;
}
.question__slide-bottom {
  -moz-animation: slide-bottom 500ms ease;
  -webkit-animation: slide-bottom 500ms ease;
  animation: slide-bottom 500ms ease;
}
.question__answer {
  display: inline-block;
  color: #252527;
  text-decoration: none;
  margin: 0 50px;
  position: relative;
  font-size: 24px;
  font-size: 1.33333rem;
  line-height: 48px;
  line-height: 2.66667rem;
}
.question__answer:before {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: transparent;
  left: 0;
  right: 0;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.question__answer:hover:before {
  background: #252527;
  bottom: 5px;
}

.share {
  text-align: center;
  margin-bottom: 48px;
  margin-bottom: 2.66667rem;
}
.share__title {
  font-family: "Raleway-Medium", sans-serif;
  text-transform: none;
  font-size: 24px;
  font-size: 1.33333rem;
  line-height: 48px;
  line-height: 2.66667rem;
  padding-top: 48px;
  padding-top: 2.66667rem;
  padding-bottom: 48px;
  padding-bottom: 2.66667rem;
}
.share__btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.33333rem;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.share__btn--vk {
  background: #3864a3;
}
.share__btn--twitter {
  background: #41abe1;
}
.share__btn--facebook {
  background: #3864a3;
}
.share__btn i {
  line-height: 35px;
}

@-moz-keyframes slide-top {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-webkit-keyframes slide-top {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-moz-keyframes slide-bottom {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-pulse,
.la-ball-pulse > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-pulse {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-ball-pulse.la-dark {
  color: #333;
}

.la-ball-pulse > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-pulse {
  width: 54px;
  height: 18px;
}

.la-ball-pulse > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms;
}

.la-ball-pulse > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms;
}

.la-ball-pulse > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  animation-delay: 0ms;
}

.la-ball-pulse > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  -webkit-animation: ball-pulse 1s ease infinite;
  -moz-animation: ball-pulse 1s ease infinite;
  -o-animation: ball-pulse 1s ease infinite;
  animation: ball-pulse 1s ease infinite;
}

.la-ball-pulse.la-sm {
  width: 26px;
  height: 8px;
}

.la-ball-pulse.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px;
}

.la-ball-pulse.la-2x {
  width: 108px;
  height: 36px;
}

.la-ball-pulse.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px;
}

.la-ball-pulse.la-3x {
  width: 162px;
  height: 54px;
}

.la-ball-pulse.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-pulse {
  0%,
    60%,
    100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  30% {
    opacity: .1;
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }
}
@-moz-keyframes ball-pulse {
  0%,
    60%,
    100% {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }
  30% {
    opacity: .1;
    -moz-transform: scale(0.01);
    transform: scale(0.01);
  }
}
@-o-keyframes ball-pulse {
  0%,
    60%,
    100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1);
  }
  30% {
    opacity: .1;
    -o-transform: scale(0.01);
    transform: scale(0.01);
  }
}
@keyframes ball-pulse {
  0%,
    60%,
    100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30% {
    opacity: .1;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    -o-transform: scale(0.01);
    transform: scale(0.01);
  }
}
.preloader {
  background: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: none;
  font-size: 24px;
  font-size: 1.33333rem;
  line-height: 48px;
  line-height: 2.66667rem;
}
.preloader--fade-out {
  -moz-animation: fade-out 500ms ease;
  -webkit-animation: fade-out 500ms ease;
  animation: fade-out 500ms ease;
}
.preloader--visible {
  display: block;
}
.preloader__container {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-animation: fade-in 500ms ease;
  -webkit-animation: fade-in 500ms ease;
  animation: fade-in 500ms ease;
}
.preloader__text {
  font-family: "Raleway-Medium", sans-serif;
  text-transform: none;
}
.preloader__anim {
  margin: 0 auto;
}

@-moz-keyframes preloader {
  0% {
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  33.333% {
    -moz-transform: translateY(20px);
    transform: translateY(20px);
  }
  66.666% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  33.333% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  66.666% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes preloader {
  0% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  33.333% {
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  66.666% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
