html, body{
   height: 100%;
}

body{
  background: $body-bg;
  color: $base-text-color;
  font-family: $regular;

  @include font-smoothing();
}

@include establish-baseline;

@include selection($selection-bg, $selection-text-color);


::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}
::-webkit-scrollbar-button {
   width: 0px;
   height: 0px;
}
::-webkit-scrollbar-thumb {
   background: #cbcbcb;
   border: 0px solid #ffffff;
   border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
   background: #bbbbbb;
}
::-webkit-scrollbar-thumb:active {
   background: #aeaeae;
}
::-webkit-scrollbar-track {
   background: #ededed;
   border: none;
   border-radius: 25px;
}
::-webkit-scrollbar-track:hover {
   background: #ededed;
}
::-webkit-scrollbar-track:active {
   background: #ededed;
}
::-webkit-scrollbar-corner {
   background: transparent;
}