h1, h2, h3,
h4, h5, h6{
  text-transform: uppercase;
  font-family: $bold;
}


h1{ @include adjust-font-size-to(3.157rem); }
h2{ @include adjust-font-size-to(2.369rem); }
h3{ @include adjust-font-size-to(1.777rem); }
h4{ @include adjust-font-size-to(1.333rem); }
h5{ @include adjust-font-size-to(1rem); }
h6{ @include adjust-font-size-to(0.75rem); }