/*
* Layout dimensions
*/
$container-width: 1244px;
$container-padding: 32px;

/*
* Fonts
*/
$regular: 'Raleway-Regular', sans-serif;
$medium: 'Raleway-Medium', sans-serif;
$bold: 'Raleway-Bold', sans-serif;

/*
* Typography
*/
$base-font-size: 18px;
$base-line-height: 24px;
$rhythm-unit: 'rem';

$test-answer-font-size: 20px;

/*
* Colors
*/
$selection-bg: #222222;
$selection-text-color: #fff;

$body-bg: #fff;

$link-color: #00f;

$base-text-color: #282829;
$base-gray-color: #a4a5ab;
$base-test-color: #fff;
$container-color: #fff;

// Test
$test-answer-border-color: #96c03d;
$test-question-border-color: #c0d6e4;
$test-question-border-width: 7px;
$test-line-border-width: 4px;
$test-answer-border-width: 7px;
$test-question-bg: #fff;

$test-duration: 1000ms;

$test-coord: 120px;

// Preloader
$preloader-bg: #fff;
$preloader-anim-color: #a4a5aa;

$preloader-anim-size: 10px;
$preloader-anim-margin: 5px;
$preloader-anim-delay: 300ms;
$preloader-fade-duration: 500ms;