.site-header{
   text-align: center;

   @include padding-leader(2);
   @include padding-trailer(2);

   a{
      text-decoration: none;
      color: $base-text-color;
   }

   // &__logo{
   //    display: block;
   //    margin: 0 auto;
   //    max-width: 73px;
   // }

   // &__text{
   //    text-decoration: none;
   //    color: $base-text-color;

   //    @include adjust-font-size-to(36px);
   // }

   &__logo{
      text-align: center;

      @include adjust-font-size-to(2.4rem);

      a{
         text-decoration: none;
         color: $base-text-color;
      }
   }

   &__text{
      color: $base-gray-color;
      @include margin-leader(1);
   }
}