.content{
   position: relative;

   &--error{
      padding-top: 50px;
      text-align: center;

      pre{
         text-align: left;
         font-family: monospace;
         display: inline-block;
         
         @include adjust-font-size-to(16px);
      }

      h1{
         @include adjust-font-size-to(115px);
         @include margin-trailer();
      }

      h2{
         @include adjust-font-size-to(40px);
         @include margin-trailer();
      }

      a{
         color: $link-color;
         text-decoration: none;

         &:hover{
            text-decoration: underline;
         }
      }
   }
}

.test{
   float: left;
   height: 100%;
   width: 33.33333%;

   &__url{
      height: 100%;
      display: block;
      text-align: center;
      text-decoration: none;
      color: $base-test-color;
   }
}

