.container{
   padding: 10px 10px 0 10px;
}

.hidden{
   visibility: hidden;
   display: none;
}

.user-avatar{
   display: block;
   width: 45px;
   height: 45px;
}

li.user > a{
   padding: 0 !important;
}

.user-name{
   line-height: 45px;
   color: #fff;
   font-size: 13px;
   padding: 0 0.9375rem;
}

textarea,
select{
   margin: 0 0 1rem 0;
}

.image-preview{
   margin: 0 0 1rem 0;
}
.image-preview img{
   max-width: 150px;
   width: auto;
   height: auto;
}

table{
   width: 100%;
}

.modal-btn{
   margin-bottom: 0;
   margin-left: 1rem;
}

input#color {
   padding: 0;
   width: 2.3125rem;
   border: none;
   box-shadow: none;
}

.test-content{
   margin: 0;
}

.test-content .panel{
   margin: 0;
}

.test-content > .panel > .panel .panel{
  border-right: none;
}

.test-content .panel .panel{
  padding-right: 0;
}

.test-content li{
   list-style-type: none;
}

.test-content ul{
   margin-left: 30px;
}

input.button{
   margin-top: 1rem;
}