         <% if(messages.status) { %>
         <div data-alert class="alert-box <%= (messages.status == 'error') ? 'alert' : 'info' %>">
            <%= messages.info %>
            <a href="#" class="close">&times;</a>
         </div>
         <% } %>
         <form id="login-form" class="large-4 large-centered columns" action="<%= adminPageUrlAbs %>" method="post">
            
            <p style="text-transform: uppercase; font-weight: bold;">Log in via your nickname</p>
            <label for="username">
               <input type="text" id="username" name="username" placeholder="Nickname" required>
            </label>

            <label for="password">
               <input type="password" id="password" name="password" placeholder="Password" required>
            </label>

            <input type="submit" class="button small radius large-centered" value="Log In">
            
         </form>
         