   <script src="/js/admin/jquery-2.1.4.min.js"></script>
   <script src="/js/admin/foundation.min.js"></script>
   <script src="/js/admin/modernizr.js"></script>
   <script src="/js/admin/tinymce/tinymce.min.js"></script>
   <script src="/js/admin/main.js"></script>
</body>
</html>