<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Administrator panel</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
   
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
   <link rel="icon" href="/favicon.ico" type="image/x-icon">

   <link rel="stylesheet" href="/css/admin/foundation.min.css">
   <link rel="stylesheet" href="/css/admin/foundation-icons.css">
   <link rel="stylesheet" href="/css/admin/normalize.css">
   <link rel="stylesheet" href="/css/admin/style.css">
</head>
<body class="f-topbar-fixed">