   <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
         <ul class="title-area">
            <li class="name">
               <h1><a href="<%= adminPageUrlAbs %>">Administrator panel</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
         </ul>

         <% if(authorized) { %>

         <section class="top-bar-section">

            <ul class="left">
               <li class="divider"></li>
               <li class="has-dropdown not-click"><a href="#">Pages</a>
                  <ul class="dropdown">
                     <li><a href="<%= adminPageUrlAbs %>/pages/create">Create page</a></li>
                     <li><a href="<%= adminPageUrlAbs %>/pages">View pages</a></li>
                  </ul>
               </li>
               <li class="divider"></li>
               <li class="has-dropdown not-click"><a href="#">Tests</a>
                  <ul class="dropdown">
                     <li><a href="<%= adminPageUrlAbs %>/tests/create">Create test</a></li>
                     <li><a href="<%= adminPageUrlAbs %>/tests">View tests</a></li>
                  </ul>
               </li>
               <li class="divider"></li>
            </ul>

            <ul class="right">
               <li><a href="/"><i class="fi-home"></i></a></li>
               <li class="divider"></li>
               <li class="user-name"><%= user.firstname + ' ' + user.lastname %></li>
               <li class="has-dropdown not-click user">
                  <a href="#">
                     <img class="user-avatar" src="<%= avatar %>" alt="">
                  </a>
                   
                  <ul class="dropdown">
                     <li><a href="<%= adminPageUrlAbs %>/user" class="alert">Settings</a></li>
                     <li><a href="<%= adminPageUrlAbs %>/logout" class="alert">Log Out</a></li>
                  </ul>
               </li>
            </ul>

         </section>

         <% } %>
         
      </nav>
   </div>